<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="class prac" method="GET" action="/searchClass/weather">

        <input type="radio" id="imperial" name="units" value="Imperial">
        <label for="imperial">Imperial</label><br>
        <input type="radio" id="metric" name="units" value="metric">
        <label for="imperial">Metric</label><br>

        <input type="text" id="city" name="city" value="city">

        <input type="submit" class="sendFormBtn" value="Search" />

    </form>
</body>
</html>